<!doctype html>
<html lang="en">

<head>
  <title>My Rides</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="css/style.css">

  <link rel="stylesheet" href="header/css/style.css">

</head>

<body>
  <section class="ftco-section" style="padding-top: 0px; padding-bottom: 0px;">

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">


        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="#" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">Page</a>
              <div class="dropdown-menu" aria-labelledby="dropdown04">
                <a class="dropdown-item" href="#">Page 1</a>
                <a class="dropdown-item" href="#">Page 2</a>
                <a class="dropdown-item" href="#">Page 3</a>
                <a class="dropdown-item" href="#">Page 4</a>
              </div>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Catalog</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </section>
  <section class="ftco-section" style="padding-top: 50px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="text-center mb-4">My Rides</h4>
          <div class="table-wrap">
            <table class="table">
              <thead class="thead-primary">
                <tr>
                  <th>Name</th>
                  <th>Mail Id</th>
                  <th>Phone</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>date</th>
                  <th>time</th>
                  <th>availability</th>
                  <th>fare</th>
                  <th>Delete Ride</th>
                </tr>
              </thead>
              <tbody>
                <% result.forEach(i=> { %>
                  <tr>
                    <td>
                      <%= i.name %>
                    </td>
                    <td>
                      <%= i.mailid %>
                    </td>
                    <td>
                      <%= i.phone %>
                    </td>
                    <td>
                      <%= i.source %>
                    </td>
                    <td>
                      <%= i.destination %>
                    </td>
                    <td>
                      <%= i.date %>
                    </td>
                    <td>
                      <%= i.time %>
                    </td>
                    <td>
                      <%= i.availability %>
                    </td>
                    <td>
                      <%= i.fare %>
                    </td>
                    <td>
                      <form method="post">
                        <input type="hidden" name="name" value="<%= i.name %>">
                        <input type="hidden" name="Mailid" value="<%= i.mailid %>">
                        <input type="hidden" name="Phone" value="<%= i.phone %>">
                        <input type="hidden" name="Source" value="<%= i.source %>">
                        <input type="hidden" name="Destination" value="<%= i.destination %>">
                        <input type="hidden" name="datE" value="<%= i.date %>">
                        <input type="hidden" name="timE" value="<%= i.time %>">
                        <input type="hidden" name="available" value="<%= i.availability %>">
                        <input type="hidden" name="fare" value="<%= i.fare %>">
                        <button type="submit">Delete Ride</button>
                      </form>
                    </td>
                    <% }); %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>

  <script src="header/js/jquery.min.js"></script>
  <script src="header/js/popper.js"></script>
  <script src="header/js/bootstrap.min.js"></script>
  <script src="header/js/main.js"></script>

</body>

</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>My Rides</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Mail Id</th>
            <th>Phone</th>
            <th>Source</th>
            <th>Destination</th>
            <th>date</th>
            <th>time</th>
            <th>availability</th>
            <th>fare</th>
            <th>Delete Ride</th>
          </tr>
          <% result.forEach(i=> { %>
            <tr>
              <td>
                <%= i.name %>
              </td>
              <td>
                <%= i.mailid %>
              </td>
              <td>
                <%= i.phone %>
              </td>
              <td>
                <%= i.source %>
              </td>
              <td>
                <%= i.destination %>
              </td>
              <td>
                <%= i.date %>
              </td>
              <td>
                <%= i.time %>
              </td>
              <td>
                <%= i.availability %>
              </td>
              <td>
                <%= i.fare %>
              </td>
              <td>
                <form method="post">
                    <input type="hidden" name="name" value="<%= i.name %>">
                    <input type="hidden" name="Mailid" value="<%= i.mailid %>">
                    <input type="hidden" name="Phone" value="<%= i.phone %>">
                    <input type="hidden" name="Source" value="<%= i.source %>">
                    <input type="hidden" name="Destination" value="<%= i.destination %>">
                    <input type="hidden" name="datE" value="<%= i.date %>">
                    <input type="hidden" name="timE" value="<%= i.time %>">
                    <input type="hidden" name="available" value="<%= i.availability %>">
                    <input type="hidden" name="fare" value="<%= i.fare %>">         
                    <button type="submit">Delete Ride</button>
                  </form>
              </td>
              <% }); %>
      </table>
</body>
</html> -->