<!DOCTYPE html>
<html lang="en">
<head>
	<title>Table V02</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">
						<div class="row header">
							<div class="cell">
								Name
							</div>
							<div class="cell" style="padding-left: 25px;">
								Mail ID
							</div>
							<div class="cell" style="padding-left: 25px;">
								Phone
							</div>
							<div class="cell" style="padding-left: 25px;">
								Source
							</div>
                            <div class="cell" style="padding-left: 25px;">
								Destination
							</div>
                            <div class="cell" style="padding-left: 25px;">
								Date
							</div>
                            <div class="cell" style="padding-left: 25px;">
								Time
							</div>
                            <div class="cell" style="padding-left: 25px;">
								Availability
							</div>
                            <div class="cell" style="padding-left: 25px;">
								Fare
							</div>
						</div>

                        <% result.forEach(i => { %>
                            <div class="row">
                                <div class="cell" data-title="Full Name" style="padding-left: 25px;">
                                    <%= i.name %>
                                </div>
                                <div class="cell" data-title="Age" style="padding-left: 25px;">
                                    <%= i.mailid %>
                                </div>
                                <div class="cell" data-title="Job Title" style="padding-left: 25px;">
                                    <%= i.phone %>
                                </div>
                                <div class="cell" data-title="Location" style="padding-left: 25px;">
                                    <%= i.source %>
                                </div>
                                <div class="cell" data-title="Location" style="padding-left: 25px;">
                                    <%= i.destination %>
                                </div>
                                <div class="cell" data-title="Location" style="padding-left: 25px;">
                                    <%= i.date %>
                                </div>
                                <div class="cell" data-title="Location" style="padding-left: 25px;">
                                    <%= i.time %>
                                </div>
                                <div class="cell" data-title="Location" style="padding-left: 25px;">
                                    <%= i.availability %>
                                </div>
                                <div class="cell" data-title="Location" style="padding-left: 25px; padding-right: 25px;">
                                    <%= i.fare %>
                                </div>
                            </div>
                            <% }); %>

					</div>
			</div>
		</div>
	</div>


	

<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publish Details</title>
</head>
<body>
    <h1>Publish Details</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Mail ID</th>
            <th>Phone</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Time</th>            
            <th>Availability</th>            
            <th>Fare</th>            

        </tr>
    <% result.forEach(i => { %>
        <tr>
            <td><%= i.name %></td>
            <td><%= i.mailid %></td>
            <td><%= i.phone %></td>
            <td><%= i.source %></td>
            <td><%= i.destination %></td>
            <td><%= i.date %></td>
            <td><%= i.time %></td>
            <td><%= i.availability %></td>
            <td><%= i.fare %></td>
        </tr>
        <% }); %>
    </table>
</body>
</html> -->