<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>requests for Me</title>
</head>
<body>
    <h1>Requests for me</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Requester Mail Id</th>
            <th>Publisher Mail Id</th>
            <th>Source</th>
            <th>Destination</th>
            <th>date</th>
            <th>time</th>
            <th>fare</th>
            <th>availability</th>
            <th>Selectedseats</th>
            <th>Status</th>
          </tr>
          <% result.forEach(i=> { %>
            <tr>
              <td>
                <%= i.name %>
              </td>
              <td>
                <%= i.RequesterMailid %>
              </td>
              <td>
                <%= i.PublisherMailid %>
              </td>
              <td>
                <%= i.source %>
              </td>
              <td>
                <%= i.destination %>
              </td>
              <td>
                <%= i.date %>
              </td>
              <td>
                <%= i.time %>
              </td>
              <td>
                <%= i.fare %>
              </td>
              <td>
                <%= i.availability %>
              </td>
              <td>
                <%= i.Selectedseats %>
              </td>
              <td>
                <%= i.Status %>
              </td>
              <td>
                <form method="post">
                    <input type="hidden" name="requestermailid" value="<%= i.RequesterMailid %>">
                    <input type="hidden" name="publishermailid" value="<%= i.PublisherMailid %>">
                    <input type="hidden" name="Source" value="<%= i.source %>">
                    <input type="hidden" name="Destination" value="<%= i.destination %>">
                    <input type="hidden" name="datE" value="<%= i.date %>">
                    <input type="hidden" name="timE" value="<%= i.time %>">
                    <input type="hidden" name="available" value="<%= i.availability %>">
                    <input type="hidden" name="selected" value="<%= i.Selectedseats %>">         
                    <button type="submit">Accept</button>
                  </form>
              </td>
              <% }); %>
      </table>
</body>
</html>